@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  50% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-40rem); }
  50% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ececec;
  background-color: #3b3b3b;
  box-sizing: border-box; }

body.active {
  overflow-y: hidden; }

.heading-first {
  text-transform: uppercase;
  font-weight: 700;
  animation-name: moveInFromLeft;
  animation-duration: 1.5s;
  text-align: center; }
  .heading-first__main {
    font-size: 15rem;
    display: block; }
    @media only screen and (max-width: 56.25em) {
      .heading-first__main {
        font-size: 11rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-first__main {
        font-size: 8rem; } }
    @media only screen and (max-width: 25em) {
      .heading-first__main {
        font-size: 6rem; } }
  .heading-first__sub {
    font-size: 2.3rem;
    color: #11749e;
    display: block;
    letter-spacing: 1.9rem;
    padding-left: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-first__sub {
        font-size: 1.7rem;
        letter-spacing: 1.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-first__sub {
        font-size: 1.5rem;
        letter-spacing: 1rem; } }

.heading-second {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .heading-second__text {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .2rem;
    position: absolute;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .heading-second__text {
        font-size: 3.7rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-second__text {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-second__text {
        font-size: 2.5rem; } }
  .heading-second .text--light {
    color: #d8d8d8; }
  .heading-second .text--dark {
    color: #222222; }
  .heading-second__image {
    height: 18.5rem; }
    @media only screen and (max-width: 75em) {
      .heading-second__image {
        height: 15rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-second__image {
        height: 13rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-second__image {
        height: 11rem; } }

.heading-third {
  font-size: 3.5rem;
  color: #222222;
  font-weight: 300; }
  @media only screen and (max-width: 56.25em) {
    .heading-third {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-third {
      font-size: 2.5rem; } }

.heading-fourth {
  font-size: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.heading-fifth {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 500; }
  .heading-fifth--blue {
    color: #11749e; }

.paragraph {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  line-height: 2.2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  .paragraph--dark {
    color: #222222; }

.big-paragraph {
  text-transform: uppercase;
  background-color: #11749e;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  display: inline-block; }
  .big-paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.grey-line {
  border: 1px solid #7b7b7b75; }

.u-text-center {
  text-align: center !important; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.u-mb-0 {
  margin-bottom: 0 !important; }

.w-70 {
  max-width: 70%; }

.w-80 {
  max-width: 80%; }

.w-90 {
  max-width: 90%; }

.scroll-down-box {
  animation-name: moveInFromTop;
  animation-duration: 1s; }
  .scroll-down-box__icon-container {
    text-align: center; }
    .scroll-down-box__icon-container:hover {
      cursor: pointer; }
  .scroll-down-box__icon {
    height: 6.5rem;
    animation: pulse 3s infinite; }
    @media only screen and (max-width: 37.5em) {
      .scroll-down-box__icon {
        height: 5.5rem; } }

.features-box {
  display: flex;
  flex-wrap: wrap; }
  .features-box__feature-content {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .features-box__feature-content {
        max-width: 50%; }
        .features-box__feature-content:first-child {
          margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .features-box__feature-content {
        max-width: 100%;
        padding: 0;
        margin-bottom: 3rem; }
        .features-box__feature-content:first-child {
          margin-bottom: 3rem; } }
  .features-box__image {
    margin-bottom: 2rem;
    height: 13rem; }
    @media only screen and (max-width: 75em) {
      .features-box__image {
        height: 11rem; } }
    @media only screen and (max-width: 37.5em) {
      .features-box__image {
        height: 10rem; } }

.news-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .news-box:hover .news-box__img {
    transform: scale(1.1); }
  @media only screen and (max-width: 56.25em) {
    .news-box {
      flex-direction: column-reverse; } }
  @media only screen and (max-width: 56.25em) {
    .news-box--first {
      flex-direction: column; } }
  .news-box__content {
    width: 50%;
    padding: 0rem 10rem 0rem 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media only screen and (max-width: 100em) {
      .news-box__content {
        padding: 0rem 8rem 0rem 15rem; } }
    @media only screen and (max-width: 87.5em) {
      .news-box__content {
        padding: 0rem 6rem 0rem 10rem; } }
    @media only screen and (max-width: 68.75em) {
      .news-box__content {
        padding: 0rem 2rem 0rem 4rem; } }
    @media only screen and (max-width: 68.75em) {
      .news-box__content p {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 56.25em) {
      .news-box__content {
        width: 100%;
        padding: 3rem; } }
  .news-box .content--dark {
    background-color: #222222; }
  .news-box .content--light {
    background-color: #f3f3f3;
    color: #222222; }
  .news-box__date {
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .news-box__text {
    font-size: 1.3rem;
    line-height: 2.2rem; }
  .news-box__img-container {
    width: 50%;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .news-box__img-container {
        width: 100%; } }
  .news-box__img {
    display: block;
    transition: all 1s; }

.blog-box {
  display: flex;
  flex-wrap: wrap; }
  .blog-box__blog-content {
    text-align: center;
    padding: 1.5rem;
    max-width: 25%;
    transition: all .7s; }
    .blog-box__blog-content:hover {
      box-shadow: 0px 0px 85px -5px #999999; }
    @media only screen and (max-width: 56.25em) {
      .blog-box__blog-content {
        max-width: 50%; } }
    @media only screen and (max-width: 43.75em) {
      .blog-box__blog-content {
        max-width: 100%; } }
  .blog-box__img {
    margin-bottom: 3rem; }

.write-box {
  display: flex;
  flex-wrap: wrap; }
  .write-box__content {
    display: flex;
    max-width: 50%; }
    @media only screen and (max-width: 50em) {
      .write-box__content {
        max-width: 100%; }
        .write-box__content:first-child {
          margin-bottom: 3rem; } }
  .write-box__img {
    height: 7rem;
    width: auto;
    margin-top: 0.7rem;
    padding-right: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .write-box__img {
        height: 6rem; } }
    @media only screen and (max-width: 50em) {
      .write-box__img {
        height: 5rem; } }
  .write-box .img--right {
    padding-left: 3rem; }
    @media only screen and (max-width: 50em) {
      .write-box .img--right {
        padding-left: 0rem; } }

.team-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .team-box__container {
    padding: 2rem;
    position: relative;
    flex-basis: 25%;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .team-box__container {
        flex-basis: 50%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .team-box__container {
        flex-basis: 100%;
        margin-bottom: 3rem; } }
  .team-box__img {
    transition: all .5s; }
    .team-box__img:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5); }
  .team-box__content {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 1.5rem;
    position: absolute;
    bottom: -2rem;
    width: 70%;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 50em) {
      .team-box__content {
        width: 23rem;
        bottom: -1rem; } }
  .team-box__heading {
    text-transform: uppercase;
    font-size: 2rem;
    color: #11749e;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .team-box__heading {
        font-size: 1.7rem; } }
  .team-box__text {
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 0; }
    @media only screen and (max-width: 56.25em) {
      .team-box__text {
        font-size: 1.4rem; } }

.form__inputs-group {
  display: flex; }
  .form__inputs-group > div {
    flex: 1; }
    .form__inputs-group > div:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 50em) {
        .form__inputs-group > div:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 2rem; } }
    @media only screen and (max-width: 50em) {
      .form__inputs-group > div {
        flex-basis: 100%; } }
  @media only screen and (max-width: 50em) {
    .form__inputs-group {
      flex-wrap: wrap; } }

.form__group {
  margin-bottom: 3rem; }

.form__input, .form__textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif; }
  .form__input::placeholder, .form__textarea::placeholder {
    color: #d8d8d8; }
  .form__input:focus, .form__textarea:focus {
    outline: none;
    box-shadow: inset 0 0 1rem rgba(212, 201, 201, 0.5); }

.form__input:placeholder-shown + label, .form__textarea:placeholder-shown + label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem); }

.form__label {
  color: #d8d8d8;
  font-weight: 300;
  font-size: 1.2rem;
  margin-left: 1.3rem;
  margin-top: 0.8rem;
  transition: all .3s; }

.form__textarea {
  display: block; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 6rem;
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  transition: all .3s;
  border: none;
  border-radius: 0;
  font-weight: 500;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  outline: none; }
  .btn:hover {
    cursor: pointer; }
  .btn--blue {
    background-color: #11749e; }
    .btn--blue:hover {
      background-color: transparent;
      border: 1px solid #fff; }

.main-container {
  max-width: 1600px;
  margin: 0 auto; }

.main-nav {
  margin: 0 auto;
  padding: 2rem 0rem;
  max-width: 1180px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .main-nav {
      max-width: 100%;
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .main-nav {
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 50em) {
    .main-nav {
      padding: 1rem 2rem; } }
  .main-nav__logo-box {
    margin-right: auto;
    z-index: 10; }
  .main-nav__logo {
    height: 7.5rem; }
    @media only screen and (max-width: 68.75em) {
      .main-nav__logo {
        height: 6.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .main-nav__logo {
        height: 5.5rem; } }
    @media only screen and (max-width: 50em) {
      .main-nav__logo {
        height: 4.5rem; } }
  .main-nav__menu {
    list-style: none;
    margin-bottom: 0;
    margin-right: 7rem;
    display: flex;
    justify-content: space-between;
    flex-basis: 55%; }
    @media only screen and (max-width: 68.75em) {
      .main-nav__menu {
        flex-basis: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .main-nav__menu {
        flex-basis: 70%;
        margin-right: 4rem; } }
    @media only screen and (max-width: 50em) {
      .main-nav__menu {
        display: none; } }
  .main-nav__menu-item {
    padding: 0rem 1rem;
    position: relative;
    transition: all .3s; }
    .main-nav__menu-item::before {
      transition: opacity .3s ease-out;
      content: "";
      background-color: #11749e;
      height: 0.5rem;
      position: absolute;
      top: 67px;
      left: 0px;
      width: 100%;
      opacity: 0; }
      @media only screen and (max-width: 75em) {
        .main-nav__menu-item::before {
          top: 61px; } }
      @media only screen and (max-width: 68.75em) {
        .main-nav__menu-item::before {
          top: 57px; } }
      @media only screen and (max-width: 56.25em) {
        .main-nav__menu-item::before {
          top: 51px; } }
    .main-nav__menu-item:hover::before {
      opacity: 1; }
  .main-nav .menu-item__link {
    color: #d8d8d8;
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .main-nav .menu-item__link {
        font-size: 1.7rem; } }
    .main-nav .menu-item__link:hover {
      text-decoration: none; }
  @media only screen and (max-width: 50em) {
    .main-nav__social-icons {
      display: none; } }
  .main-nav__social-icon-item {
    display: inline-block; }
    .main-nav__social-icon-item:not(:last-child) {
      margin-right: 2rem; }
  .main-nav i {
    color: #d8d8d8;
    font-size: 18px;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .main-nav i {
        font-size: 15px; } }
    .main-nav i:hover {
      color: #11749e; }
  .main-nav__bar-menu {
    background-color: transparent;
    border: none;
    display: none;
    z-index: 10; }
    @media only screen and (max-width: 50em) {
      .main-nav__bar-menu {
        display: block; } }
    .main-nav__bar-menu i {
      font-size: 3.5rem;
      color: #fff; }

.js-bar-menu.active .fa-bars {
  display: none; }

.js-bar-menu.active .fa-times {
  display: inline-block; }

.js-bar-menu .fa-times {
  display: none; }

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 500px; }
  .header--home {
    background-image: url("../img/header-background.jpg"); }
  .header__header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    flex-direction: column; }
    .header__header-content .heading-first {
      margin-bottom: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .header__header-content .heading-first {
          margin-bottom: 7rem; } }

.footer {
  padding: 4rem 0rem;
  background-color: #222222; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        flex-direction: column; } }
  .footer__text {
    font-size: 1.3rem;
    color: #d8d8d8;
    font-weight: 500;
    margin-bottom: 0; }
    @media only screen and (max-width: 37.5em) {
      .footer__text {
        margin-bottom: 2rem; } }

.mobile-menu {
  display: none;
  height: 100vh;
  background: rgba(26, 26, 26, 0.9);
  transform: translateY(-100vh);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .mobile-menu {
      display: flex; } }
  .mobile-menu.active {
    transform: translateY(0vh); }
    @media only screen and (max-width: 50em) {
      .mobile-menu.active {
        display: flex; } }
  .mobile-menu__social-icons {
    position: absolute;
    top: 2.4rem;
    width: 60%;
    display: flex;
    justify-content: space-around; }
    .mobile-menu__social-icons i {
      color: #fff;
      font-size: 2.2rem; }
  .mobile-menu .mobile-nav {
    list-style: none;
    text-align: center; }
    .mobile-menu .mobile-nav__menu-item {
      margin-bottom: 1rem; }
    .mobile-menu .mobile-nav__link {
      color: #fff;
      text-decoration: none;
      font-size: 2.3rem;
      text-transform: capitalize;
      padding: 1rem;
      display: inline-block;
      font-weight: 700; }

.main-container {
  max-width: 1600px;
  margin: 0 auto; }

.features-section {
  background-color: #11749e;
  padding: 6% 2%; }
  @media only screen and (max-width: 56.25em) {
    .features-section {
      padding: 10% 4%; } }
  .features-section .heading-second {
    margin-bottom: 7rem; }
    @media only screen and (max-width: 37.5em) {
      .features-section .heading-second {
        margin-bottom: 5rem; } }
  .features-section .features-box {
    max-width: 1180px;
    margin: 0 auto; }

.blog-section {
  background-color: #fff;
  padding: 6% 2%; }
  @media only screen and (max-width: 56.25em) {
    .blog-section {
      padding: 10% 4%; } }
  .blog-section .heading-second {
    margin-bottom: 5rem; }
  .blog-section .heading-third {
    margin-bottom: 7rem; }
  .blog-section .blog-box {
    max-width: 1180px;
    margin: 0 auto; }

.mystery-section {
  background-color: #11749e;
  padding: 6% 2%; }
  @media only screen and (max-width: 56.25em) {
    .mystery-section {
      padding: 10% 4%; } }
  .mystery-section .write-box {
    max-width: 1180px;
    margin: 0 auto; }

.creative-design-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("../img/creative-design.jpg");
  padding: 6% 6%; }
  @media only screen and (max-width: 56.25em) {
    .creative-design-section {
      padding: 10% 4%; } }
  .creative-design-section .design-box {
    display: flex;
    max-width: 1180px;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .creative-design-section .design-box {
        flex-direction: column-reverse; } }
    .creative-design-section .design-box__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 15rem; }
      @media only screen and (max-width: 75em) {
        .creative-design-section .design-box__content {
          padding-right: 8rem; } }
      @media only screen and (max-width: 56.25em) {
        .creative-design-section .design-box__content {
          padding-right: 0;
          text-align: left; } }
      .creative-design-section .design-box__content .paragraph {
        margin-bottom: 4rem; }
    .creative-design-section .design-box__img-container {
      flex: 1;
      text-align: center; }
      @media only screen and (max-width: 56.25em) {
        .creative-design-section .design-box__img-container {
          margin-bottom: 5rem; } }
    .creative-design-section .design-box__img {
      height: 60rem; }
      @media only screen and (max-width: 62.5em) {
        .creative-design-section .design-box__img {
          height: 50rem; } }
      @media only screen and (max-width: 37.5em) {
        .creative-design-section .design-box__img {
          height: 40rem; } }

.team-section {
  padding: 6% 2%;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .team-section {
      padding: 10% 4%; } }
  .team-section .heading-second, .team-section .heading-third {
    margin-bottom: 5rem; }
  .team-section .team-box {
    max-width: 1180px;
    margin: 0 auto; }

.contact-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("../img/form-background.jpg");
  padding: 6% 2%; }
  @media only screen and (max-width: 56.25em) {
    .contact-section {
      padding: 10% 4%; } }
  .contact-section .heading-second {
    margin-bottom: 7rem; }
  .contact-section .contact-form {
    width: 80%;
    margin: 0 auto; }
