@mixin breakpoint($breakpoint) {
    @media only screen and (max-width:($breakpoint/16)+em) {
        @content
    };
}

@mixin sectionPadding {
    padding: 6% 2%;

    @include breakpoint(900) {
        padding: 10% 4%;
    }
}