$black-color: #000;
$pearl-white-color: #d8d8d8; 
$white-color: #fff;
$dirty-white-color: #f3f3f3;
$light-blue-color:  #11749e;
$light-blue-color1:  #2e85aa;
$dark-blue-color: #11749e;
$dark-grey-color1: #222222;
$dark-grey-color2:#282828;
$dark-grey-color3:#3b3b3b;
$light-grey-color1: #7b7b7b; 
$light-grey-color2: #7b7b7b75; 

