.footer {
    padding: 4rem 0rem;
    background-color: $dark-grey-color1;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1180px;
        margin: 0 auto;

        @include breakpoint(600) {
            flex-direction: column;
        }
    }

    &__text {
        font-size: 1.3rem;
        color: $pearl-white-color;
        font-weight: 500;
        margin-bottom: 0;

        @include breakpoint(600) {
            margin-bottom: 2rem;
        }
    }
}
