.header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 500px;

    &--home {
        background-image: url("../img/header-background.jpg");
    }

    &__header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85%;
        flex-direction: column;

        & .heading-first {
            margin-bottom: 10rem;

            @include breakpoint(900) {
                margin-bottom: 7rem;
            }
        }
    }
}

