.mobile-menu {
    display: none;
    height: 100vh;
    background: rgba(26,26,26,0.9);
    transform: translateY(-100vh);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(800) {
        display: flex;
    }

    &.active {
        transform: translateY(0vh);

        @include breakpoint(800) {
            display: flex;
        }
    }

    &__social-icons {
        position: absolute;
        top: 2.4rem;
        width: 60%;
        display: flex;
        justify-content: space-around;

        & i {
            color: $white-color;
            font-size: 2.2rem;
        }
    }

    .mobile-nav {
        list-style: none;
        text-align: center;

        &__menu-item {
            margin-bottom: 1rem;
        }

        &__link {
            color: $white-color;
            text-decoration: none;
            font-size: 2.3rem;
            text-transform: capitalize;
            padding: 1rem;
            display: inline-block;
            font-weight: 700;
        }
    }
}
