.main-nav {
    margin: 0 auto;
    padding: 2rem 0rem;
    max-width: 1180px;
    display: flex;
    align-items: center;

    @include breakpoint(1200) {
        max-width: 100%;
        padding: 2rem 4rem;
    }

    @include breakpoint(900) {
        padding: 2rem 3rem;
    }

    @include breakpoint(800) {
        padding: 1rem 2rem;
    }

    &__logo-box {
        margin-right: auto;
        z-index: 10;
    }

    &__logo {
        height: 7.5rem;

        @include breakpoint(1100) {
            height: 6.5rem;
        }

        @include breakpoint(900) {
            height: 5.5rem;
        }

        @include breakpoint(800) {
            height: 4.5rem;
        }
    }

    &__menu {
        list-style: none;
        margin-bottom: 0;
        margin-right: 7rem;
        display: flex;
        justify-content: space-between;
        flex-basis: 55%;

        @include breakpoint(1100) {
            flex-basis: 65%;
        }

        @include breakpoint(900) {
            flex-basis: 70%;
            margin-right: 4rem;
        }

        @include breakpoint(800) {
           display: none;
        }
    }

    &__menu-item {
        padding: 0rem 1rem;
        position: relative;
        transition: all .3s;

        &::before {
            transition: opacity .3s ease-out;
            content: "";
            background-color: $light-blue-color;
            height: 0.5rem;
            position: absolute;
            top: 67px;
            left: 0px;
            width: 100%;
            opacity: 0;

            @include breakpoint(1200) {
                top: 61px;
            }

            @include breakpoint(1100) {
                top: 57px;
            }

            @include breakpoint(900) {
                top: 51px;
            }
        }

        &:hover::before {
            opacity: 1;
        }
    }

    & .menu-item__link {
        color: $pearl-white-color;
        font-size: 2rem;
        text-transform: capitalize;
        text-decoration: none;

        @include breakpoint(900) {
            font-size: 1.7rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__social-icons {
        @include breakpoint(800) {
            display: none;
         }
    }

    &__social-icon-item {

        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    & i {
        color: $pearl-white-color;
        font-size: 18px;
        transition: all .3s;

        @include breakpoint(900) {
            font-size: 15px;
        }

        &:hover {
            color: $light-blue-color;
        }
    }

    &__bar-menu {
        background-color: transparent;
        border: none;
        display: none;
        z-index: 10;

        @include breakpoint(800) {
            display: block;
        }

        i {
            font-size: 3.5rem;
            color: $white-color;
        }
    }
}

.js-bar-menu.active .fa-bars {
    display: none;
}

.js-bar-menu.active .fa-times {
    display: inline-block;
}

.js-bar-menu .fa-times {
    display: none;
}
