.blog-box {
    display: flex;
    flex-wrap: wrap;

    &__blog-content {
        text-align: center;
        padding: 1.5rem;
        max-width: 25%;
        transition: all .7s;

        &:hover {
            box-shadow: 0px 0px 85px -5px rgba(153,153,153,1);
        }

        @include breakpoint(900) {
            max-width: 50%;
        }

        @include breakpoint(700) {
            max-width: 100%;
        }
    }

    &__img {
        margin-bottom: 3rem;
    }
}