.btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 6rem;
    display: inline-block;
    font-size: 2rem;
    color: $white-color;
    transition: all .3s;
    border: none;
    border-radius: 0;
    font-weight: 500;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &--blue {
        background-color: $light-blue-color;

        &:hover {
            background-color: transparent;
            border: 1px solid $white-color;
        }
    }


}