.features-box {
    display: flex;
    flex-wrap: wrap;

    &__feature-content {
        max-width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        @include breakpoint(900) {
            max-width: 50%;

            &:first-child {
                margin-bottom: 5rem;
            }
        }

        @include breakpoint(600) {
            max-width: 100%;
            padding: 0;
            margin-bottom: 3rem;

            &:first-child {
                margin-bottom: 3rem;
            }
        }
    }

    &__image {
        margin-bottom: 2rem;
        height: 13rem;

        @include breakpoint(1200) {
            height: 11rem;
        }

        @include breakpoint(600) {
            height: 10rem;
        }
    }

}

