.form {

    &__inputs-group {
        display: flex;

        & > div {
            flex: 1;
            &:not(:last-child) {
                margin-right: 3rem;
    
                @include breakpoint(800) {
                    margin-right: 0rem;
                    margin-bottom: 2rem;
                }
            }
    
            @include breakpoint(800) {
                flex-basis: 100%;
            }
        }

        @include breakpoint(800) {
            flex-wrap: wrap;
        }
    }

    &__group {
        margin-bottom: 3rem;
    }

    &__input, &__textarea {
        width: 100%;
        background-color: transparent;
        border: 1px solid $white-color;
        padding: 1rem;
        color: $white-color;
        font-size: 1.6rem;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;

        &::placeholder {
            color: $pearl-white-color;
        }

        &:focus {
            outline: none;
            box-shadow: inset 0 0 1rem rgba(212, 201, 201, 0.5);
        }
    }

    &__input:placeholder-shown + label, &__textarea:placeholder-shown + label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-4rem);
    }

    &__label {
        color: $pearl-white-color;
        font-weight: 300;
        font-size: 1.2rem;
        margin-left: 1.3rem;
        margin-top: 0.8rem;
        transition: all .3s;
    }

    &__textarea {
        display: block;
    }

}