.news-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &:hover .news-box__img{
        transform: scale(1.1);
    }

    @include breakpoint(900) {
        flex-direction: column-reverse;
    }

    &--first {
        @include breakpoint(900) {
            flex-direction: column;
        }
    }

    &__content {
        width: 50%;
        padding: 0rem 10rem 0rem 20rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include breakpoint(1600) {
            padding: 0rem 8rem 0rem 15rem;
        }

        @include breakpoint(1400) {
            padding: 0rem 6rem 0rem 10rem;
        }
        @include breakpoint(1100) {
            padding: 0rem 2rem 0rem 4rem;
        }

        & p {
            @include breakpoint(1100) {
                font-size: 1.4rem;
            }
        }

        @include breakpoint(900) {
            width: 100%;
            padding: 3rem;
        }

    }

    & .content--dark {
        background-color: $dark-grey-color1;
    }

    & .content--light {
        background-color: $dirty-white-color;
        color: $dark-grey-color1;
    }

    &__date {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.3rem;
        line-height: 2.2rem;
    }

    &__img-container {
        width: 50%;
        overflow: hidden;

        @include breakpoint(900) {
            width: 100%;
        }
    }

    &__img {
        display: block;
        transition: all 1s;
    }
}
