.scroll-down-box {
    animation-name: moveInFromTop;
    animation-duration: 1s;

    &__icon-container {
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        height: 6.5rem;
        animation: pulse 3s infinite;

        @include breakpoint(600) {
            height: 5.5rem;
        }
    }
}