.team-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__container {
        padding: 2rem;
        position: relative;
        flex-basis: 25%;
        text-align: center;

        @include breakpoint(800) {
            flex-basis: 50%;
            margin-bottom: 2rem;
        }

        @include breakpoint(600) {
            flex-basis: 100%;
            margin-bottom: 3rem;
        }
    }

    &__img {
        transition: all .5s;

        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 .5rem 4rem rgba($black-color, .5);
        }
    }

    &__content {
        text-align: center;
        display: inline-block;
        background-color: #fff;
        padding: 1.5rem;
        position: absolute;
        bottom: -2rem;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoint(800) {
            width: 23rem;
            bottom: -1rem;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-size: 2rem;
        color: $light-blue-color;
        margin-bottom: 0.5rem;

        @include breakpoint(900) {
            font-size: 1.7rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        color: $black-color;
        font-weight: 500;
        margin-bottom: 0;

        @include breakpoint(900) {
            font-size: 1.4rem;
        }
    } 
}