.write-box {
    display: flex;
    flex-wrap: wrap;

    &__content {
       display: flex;
       max-width: 50%;

       @include breakpoint(800) {
        max-width: 100%;
        &:first-child {
            margin-bottom: 3rem;
        }
       }
    }

    &__img {
        height: 7rem;
        width: auto;
        margin-top: 0.7rem;
        padding-right: 3rem;

        @include breakpoint(1000) {
            height: 6rem;
        }

        @include breakpoint(800) {
            height: 5rem;
        }
    }

    & .img--right {
        padding-left: 3rem;

        @include breakpoint(800) {
            padding-left: 0rem;
        }
    }
}