@keyframes moveInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-40rem);
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
