*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include breakpoint(1200) {
        font-size: 56.25%;
    }

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ececec;
    background-color: $dark-grey-color3;
    box-sizing: border-box;
}

body.active {
    overflow-y: hidden;
}





