.heading-first {
    text-transform: uppercase;
    font-weight: 700;
    animation-name: moveInFromLeft;
    animation-duration: 1.5s;
    text-align: center;

    &__main {
        font-size: 15rem;
        display: block;

        @include breakpoint(900) {
            font-size: 11rem;
        }

        @include breakpoint(600) {
            font-size: 8rem;
        }

        @include breakpoint(400) {
            font-size: 6rem;
        }
    }

    &__sub {
        font-size: 2.3rem;
        color: #11749e;
        display: block;
        letter-spacing: 1.9rem;
        padding-left: 1.5rem;

        @include breakpoint(900) {
            font-size: 1.7rem;
            letter-spacing: 1.4rem;
        }

        @include breakpoint(600) {
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }
    }
}

.heading-second {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: .2rem;
        position: absolute;
        text-align: center;
    
        @include breakpoint(1200) {
            font-size: 3.7rem;
         }

        @include breakpoint(900) {
            font-size: 3rem;
         }

         @include breakpoint(600) {
            font-size: 2.5rem;
         }
    }

    & .text--light {
        color: $pearl-white-color;
    }

    & .text--dark {
        color: $dark-grey-color1;
    }

    &__image {
        height: 18.5rem;

        @include breakpoint(1200) {
            height: 15rem;
         }

        @include breakpoint(900) {
           height: 13rem;
        }

        @include breakpoint(600) {
            height: 11rem;
        }
    }
}

.heading-third {
    font-size: 3.5rem;
    color: #222222;
    font-weight: 300;

    @include breakpoint(900) {
        font-size: 3rem;
    }

    @include breakpoint(600) {
        font-size: 2.5rem;
    }
}

.heading-fourth {
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading-fifth {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 500;

    &--blue {
        color: $dark-blue-color;
    }
}



.paragraph {
    font-size: 1.6rem;
    color: $white-color;
    font-weight: 300;
    line-height: 2.2rem;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &--dark {
        color: $dark-grey-color1;
    }
}

.big-paragraph {
    text-transform: uppercase;
    background-color: $dark-blue-color;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    display: inline-block;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
