.grey-line {
    border: 1px solid $light-grey-color2;
}

.u-text-center {
    text-align: center !important;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.u-mb-0 {
    margin-bottom: 0 !important;
}


.w-70 {
    max-width: 70%;
}

.w-80 {
    max-width: 80%;
}

.w-90 {
    max-width: 90%;
}