.main-container {
    max-width: 1600px;
    margin: 0 auto;
}

.features-section {
    background-color: $light-blue-color;
    @include sectionPadding;

    & .heading-second {
        margin-bottom: 7rem;

        @include breakpoint(600) {
            margin-bottom: 5rem;
        }
    } 


    & .features-box {
        max-width: 1180px;
        margin: 0 auto;
    }
}

.blog-section {
    background-color: $white-color;
    @include sectionPadding;

    & .heading-second {
        margin-bottom: 5rem;
    }

    & .heading-third {
        margin-bottom: 7rem;
    }

    & .blog-box {
        max-width: 1180px;
        margin: 0 auto;
    }
}

.mystery-section {
    background-color: $light-blue-color;
    @include sectionPadding;
   
    & .write-box {
        max-width: 1180px;
        margin: 0 auto;
    }
}

.creative-design-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("../img/creative-design.jpg");
    padding: 6% 6%;

    @include breakpoint(900) {
        padding: 10% 4%;
    }

    & .design-box {
        display: flex;
        max-width: 1180px;
        margin: 0 auto;

        @include breakpoint(900) {
            flex-direction: column-reverse;
        }

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 15rem;

            @include breakpoint(1200) {
                padding-right: 8rem;
            }

            @include breakpoint(900) {
                padding-right: 0;
                text-align: left;
            }

            & .paragraph {
                margin-bottom: 4rem;
            }
        }

        &__img-container {
            flex: 1;
            text-align: center;

            @include breakpoint(900) {
               margin-bottom: 5rem;
            }
        }

        &__img {
            height: 60rem;

            @include breakpoint(1000) {
                height: 50rem;
            }

            @include breakpoint(600) {
                height: 40rem;
            }
        }
    }
}

.team-section {
    @include sectionPadding;
    background-color: $white-color;

    & .heading-second, & .heading-third {
        margin-bottom: 5rem;
    }

    & .team-box {
        max-width: 1180px;
        margin: 0 auto;
    }
}

.contact-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("../img/form-background.jpg");
    @include sectionPadding;

    & .heading-second {
        margin-bottom: 7rem;
    }

    & .contact-form {
        width: 80%;
        margin: 0 auto;
    }
}
